.container {
    width: 100%;
    height: 200px;
    background-color: gray;
    display: flex;
    padding-top: 30px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(242,242,242,0) 100%);
}

.container h1 {
    font-weight: 700;
    color: white;
    font-size: 23px;
}

.container h2 {
    font-weight: 700;
    color: white;
    font-size: 15px;

}

.inputArea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.inputText {
    padding: 5px 10px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid white;
    color: white;
}

.button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-weight: 600;
    transition: 300ms ease all;
}

.button:hover {
    background-color: white;
    color: gray;
}

.selections {
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    color: black;
}

.selections {
    display: flex;
    gap: 10px;
}

@media (max-width: 760px) {
    .selections {
        display: flex;
        flex-direction: column;
    }
    .container {
        height: 300px;
    }
}