.container {
    width: 250px;
    height: 450px;
    background-color: rgb(236, 236, 236);
    display: flex;
    gap: 10px;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px;
    align-items: center;
}

.container img {
    width: 150px;
}

.container span {
    font-weight: 600;
    color: black;
}
